.uvIndexGreen {
    background-color: green;
    width: 110px;
    border-radius: 50px;
}

.uvIndexYellow {
    background-color: yellow;
    width: 110px;
    border-radius: 50px;
}

.uvIndexOrange {
    background-color: orange;
    width: 110px;
    border-radius: 50px;
}

.uvIndexRed {
    background-color: red;
    width: 110px;
    border-radius: 50px;
}

.icon {
    max-width: 50px;
    max-height: 50px;

}